@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

img:hover{
  mix-blend-mode: multiply;
  transform: scale(0.9);
  transition: 2s ease-in-out
}

div::-webkit-scrollbar {
  display: none;
}
body{
  background-color: rgb(243, 243, 243);
}
.ring-0{
  box-shadow: 0 4px 8px 0 rgba(133, 129, 129, 0.2), 0 6px 20px 0 rgba(161, 158, 158, 0.19);
}
bodyo {
  background: linear-gradient(305deg, #25606c,black, #541b1b);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
@keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
button{
  box-shadow: 0 4px 8px 0 rgba(133, 129, 129, 0.2), 0 6px 20px 0 rgba(161, 158, 158, 0.19);
  height: 2rem;
  width: 8rem;
  background-color: orange;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
h1{
  font-size: large;
}
img{
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(183, 181, 181, 0.2), 0 6px 20px 0 rgba(161, 158, 158, 0.19);
  width: 70%;
}
#main{
  margin:1rem 0 ;
  border-radius: 1rem;
  
  padding: 2rem;
}
#main:hover{
  transform:scale(1.05);
}
@media screen and (min-width:700px){
 #main {
    width: 35%;
  }
  
}